h1{
   text-align: center;
}

body{
    background-color: burlywood;
    direction: rtl;
}
table{
    border: 1px salmon  solid;
    margin-top: 50px;
    margin-right: 45%;
    text-align: center;
    Emphasize
    
}
 td,tr,th{
    border: 1px salmon  solid;

}
